* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:host {
  display: block;
}

header {
  width: 100%;
  background-color: var(--header-background-colour);
  padding: env(safe-area-inset-top) 1rem 0;
  height: calc(4rem + env(safe-area-inset-top));
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}