@use "../styles/mixins/reset"; 


$page-margin: 1.5cm;


@mixin light-theme-colours {
	--primary-text-colour: #222;
	--secondary-text-colour: #545454;
	--link-text-colour: #8b8b8b;
	--secondary-button-background-colour: transparent;
	--secondary-button-background-hovered-colour: #c6c6c6;
	--secondary-button-text-colour: var(--secondary-text-colour);
	--shadow-colour: rgba(0,0,0, 0.1);
	--primary-background-colour: #fff;
	--secondary-background-colour: #dcdcdc;
	--badge-background-colour: #d5d5d5;
	--badge-background-hovered-colour: #c4c4c4;
	--separator-colour: #9e9e9e;
}


@mixin dark-theme-colours {
	--primary-background-colour: #e7e7e7;
	--secondary-background-colour: #343434;
	--secondary-button-text-colour: #c1c1c1;
	--secondary-button-text-hovered-colour: #fff;
}


:root {
	--transition-duration: calc(1s / 3);
	@include light-theme-colours;
}


body {
	color: var(--primary-text-colour);
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 1cm 1rem 2cm;
	gap: 1cm;
}


div#secondary-btn-row {
	align-self: flex-end;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	margin-right: 1cm;
}


button.secondary-btn {
	font-size: 1rem;
	background-color: var(--secondary-button-background-colour);
	color: var(--secondary-button-text-colour);
	transition-duration: var(--transition-duration);
	cursor: pointer;
	padding: 0.75rem 1.25rem;
	border-radius: 0.5rem;
}

button.secondary-btn.visible {
	display: block;
}

button.secondary-btn:hover, button.secondary-btn:active {
	background-color: var(--secondary-button-background-hovered-colour);
	color: var(--secondary-button-text-hovered-colour);
}

svg.secondary-btn__icon {
	width: 1rem;
	height: 1rem;
	// position: relative;
	// top: 3px;
	vertical-align: middle;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}


article {
	background-color: var(--primary-background-colour);
}


h1#page-title {
	font-size: 2.75rem;
	font-family: Arial;
	font-weight: 600;
	letter-spacing: -0.025em;
	text-align: center;
	line-height: 1;
	margin-bottom: 1rem;
}


div#contact-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 1.5rem;
}


a.contact-row__link {
	text-decoration: none;
	cursor: pointer;
	color: var(--link-text-colour);
	transition-duration: var(--transition-duration);
}

a.contact-row__link:hover {
	color: var(--text-colour);
}


svg.contact-row__icon {
	height: 1.1em;
	width: 1.1em;
	position: relative;
	top: 4px;
	fill: var(--link-text-colour);
}

svg#email-icon {
	stroke: var(--link-text-colour);
	fill: none;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
}


span.contact-row__label {
	text-decoration: underline;
}


section {
	margin-top: 1.5rem;
}


header.subheader-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 0.4rem;
}


hr.subheader-row__line {
	display: inline-block;
	border: none;
	height: 0.1rem;
	border-radius: 1px;
	background-color: var(--separator-colour);
	flex: 1 0;
}


h2.subheader-row__title {
	display: inline;
	font-weight: 500;
	font-size: 1.25rem;
}


div.exp-item {
	display: grid;
	grid-template-columns: 3rem 1fr auto;
	grid-template-rows: repeat(3, auto);
	row-gap: 0;
	column-gap: 0.75rem;
	margin-top: 1.25rem;
}


img.exp-item__icon {
	grid-area: 1 / 1 / 4 / 2;
	aspect-ratio: 1;
	width: 3rem;
}


h3.exp-item__title {
	font-weight: 500;
	grid-area: 1 / 2 / 2 / 3;
	padding-bottom: calc(1rem / 3);
}


a.exp-item__link {
	color: var(--link-text-colour);
}


div.exp-item__duration {
	grid-area: 1 / 3 / 2 / 4;
	text-align: right;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: var(--secondary-text-colour);
}


.exp-item__desc {
	line-height: 1.3;
	grid-area: 2 / 2 / 3 / 4;
	font-size: 0.9rem;
}

.exp-item__desc > p:not(:first-of-type) {
	margin-top: calc(1rem / 3);
}


ul.exp-item__skills {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin-top: 0.5rem;
	gap: 0.5rem;
	grid-area: 3 / 2 / 4 / 4;
}


a.exp-item__skill {
	padding: 0.2rem 0.5rem;
	background-color: var(--badge-background-colour);
	border-radius: 1rem;
	font-size: 0.8rem;
	transition-duration: var(--transition-duration);
	color: var(--primary-text-colour);
	text-decoration: none;
	cursor: pointer;
	display: inline-block;
}

a.exp-item__skill:hover {
	background-color: var(--badge-background-hovered-colour);
}


div.proj-item {
	display: grid;
	grid-template-columns: auto 1fr;
	grid-template-rows: repeat(2, auto);
	row-gap: 0;
	column-gap: 0.75rem;
	margin-top: 1.25rem;
}

h3.proj-item__title {
	font-weight: 500;
	grid-area: 1 / 1 / 2 / 2;
	padding-bottom: calc(1rem / 3);
	display: inline;
}

div.proj-item__desc {
	font-weight: 500;
	grid-area: 1 / 2 / 2 / 2;
	padding-bottom: calc(1rem / 3);
}

.exp-item__desc {
	line-height: 1.3;
	grid-area: 2 / 2 / 3 / 4;
}


@media only screen {

	@media(prefers-color-scheme: dark) {
		body:not([data-theme]) {
			@include dark-theme-colours;
		}
	}
	
	body[data-theme="dark"] {
		@include dark-theme-colours;
	}

	body {
		background-color: var(--secondary-background-colour);
		transition-duration: var(--transition-duration);
	}

	body[data-theme="light"] svg#theme-btn__sun-icon, body[data-theme="dark"] svg#theme-btn__moon-icon {
		display: none;
	}

	body[data-theme="dark"] svg#theme-btn__sun-icon, body[data-theme="light"] svg#theme-btn__moon-icon {
		display: block;
	}

	article {
		box-shadow: 0 0 1rem var(--shadow-colour);
		width: 210mm;
		height: 297mm;
		padding: $page-margin;
	}
}


@media only print {

	@page {
		size: A4;
		margin: $page-margin;
	}


	body {
		padding: 0;
		print-color-adjust: exact;
	}


	div#secondary-btn-row {
		display: none;
	}


	button.secondary-btn.visible {
		display: none;
	}


	span.contact-row__label, a.exp-item__link {
		text-decoration: none;
	}

}
