
$body: 1rem;

$shrink_factor: calc(1 / 5 * 4);
$small: calc($body * $shrink_factor);
$tiny: calc($small * $shrink_factor);

$growth_factor: calc(1 + (1 / 4));
$h6: calc($body * $growth_factor);
$h5: calc($h6 * $growth_factor);
$h4: calc($h5 * $growth_factor);
$h3: calc($h4 * $growth_factor);
$h2: calc($h3 * $growth_factor);
$h1: calc($h2 * $growth_factor);
