@mixin full-height {
  :global(
    html,
    body
  ) {
    height: 100vh;
    overflow: hidden auto;
    width: 100%;
  }
}

@mixin optimize-for-text {
  body {
    font-family: system-ui, "Helvetica Neue", sans-serif;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
  }
}
