@mixin light-theme-colours {
	--background-primary-colour: #fff;

	--background-secondary-colour: #dcdcdc;

	--badge-background-colour: #e1e1e1;
	--badge-background-hovered-colour: #c4c4c4;

	--button-secondary-background-colour: transparent;
	--button-secondary-background-hovered-colour: #c6c6c6;

	--button-secondary-text-colour: var(--text-secondary-colour);

	--header-primary-text-colour: #333;

	--header-secondary-text-colour: #717171;

	--link-text-colour: #6a6a6a;
	--link-text-hovered-colour: var(--text-primary-colour);

	--profileImg-border-colour: #f0f0f0;

	--separator-colour: #969696;

	--shadow-colour: rgba(0,0,0, 0.1);

	--text-primary-colour: #222;

	--text-secondary-colour: #4e4e4e;
}

@mixin dark-theme-colours {
	--background-primary-colour: #e7e7e7;

	--background-secondary-colour: #343434;

	--badge-background-colour: #c7c7c7;
	--badge-background-hovered-colour: #adadad;

	--button-secondary-background-hovered-colour: #595959;

	--button-secondary-text-colour: #c1c1c1;
	--button-secondary-text-hovered-colour: #fff;

	--profileImg-border-colour: #d7d7d7;
}


body {
	@include light-theme-colours;

  &[data-theme="dark"] {
    @include dark-theme-colours;
  }
}

@media (prefers-color-scheme: dark) {
  body:not([data-theme="light"]) {
    @include dark-theme-colours;
  }
}
