@use "transitions";
@use "themes";

$icon_size: 1rem;

div.toolbar {
	display: flex;
	flex-flow: row nowrap;
	column-gap: 0.5rem;
	padding: 0 1cm;
}

.toolbar_item {
	background-color: var(--button-secondary-background-colour);
	border-radius: 0.5rem;
	color: var(--button-secondary-text-colour);
	cursor: pointer;
	font-size: 1rem;
	padding: 0.75rem 1.25rem;
	transition: color transitions.$duration,
							background-color transitions.$duration,
							transform transitions.$duration;
	
	&:hover, &:active {
		background-color: var(--button-secondary-background-hovered-colour);
		color: var(--button-secondary-text-hovered-colour);
		transform: scale(1.1);
	}

	&a {
		text-decoration: none;
	}
}


div#spacer {
	flex: 1;
}

svg.icon {
	width: $icon_size;
	height: $icon_size;
	vertical-align: middle;
	transition: color transitions.$duration,
	            transform transitions.$duration;
	margin-right: 4px;
}

.sun_icon, .moon_icon {
	width: $icon_size;
	height: $icon_size;
	transition: color transitions.$duration,
	            transform transitions.$duration;
}

@include themes.style-in-theme("light") {
	svg.sun_icon {
		display: none;
	}
	svg.moon_icon {
		display: block;
	}
}

@include themes.style-in-theme("dark") {
	svg.sun_icon {
		display: block;
	}
	svg.moon_icon {
		display: none;
	}
}
