@use "transitions";

$page-margin: 1.5cm;

main#main {
	background-color: var(--background-primary-colour);
	transition: background-color transitions.$duration;
	box-shadow: 0 0 1rem var(--shadow-colour);

	padding: $page-margin;
	margin: auto;
	overflow: hidden;
}


@media only screen {
	main#main {
		width: 210mm;
		height: 297mm;
	}
}


@media only print {

	main#main {
		box-shadow: none;
		margin: 0;
		padding: 0;
		background: none;
		width: calc(210mm - ($page-margin * 2));
		max-height: calc(297mm - ($page-margin * 2));
	}

}
