@use "./styles/reset";
@use "sass:math";
@use "sass:map";
@import "./fonts/inter/inter.scss";


// #region Variables

$page-margin: 1.5cm;
$transition_duration: calc(1s / 3);

$_base_font_size: 1rem;
$_font_size_shrink_factor: 0.8;
$_font_size_growth_factor: 1.25;
$font_sizes: (
	"reg": $_base_font_size,

	"sm": calc($_base_font_size * math.pow($_font_size_shrink_factor, 1)),
	"xsm": calc($_base_font_size * math.pow($_font_size_shrink_factor, 2)),

	"md": calc($_base_font_size * math.pow($_font_size_growth_factor, 1)),
	"lg": calc($_base_font_size * math.pow($_font_size_growth_factor, 2)),
	"xl": calc($_base_font_size * math.pow($_font_size_growth_factor, 3)),
	"xxl": calc($_base_font_size * math.pow($_font_size_growth_factor, 4)),
	"xxxl": calc($_base_font_size * math.pow($_font_size_growth_factor, 5)),
	"xxxxl": calc($_base_font_size * math.pow($_font_size_growth_factor, 6)),
);

// #endregion

// #region Theme Colours

@mixin light-theme-colours {
	--header-primary-text-colour: #333;
	--header-secondary-text-colour: #717171;

	--primary-text-colour: #222;
	--secondary-text-colour: #4e4e4e;

	--profile-img-border-colour: #f0f0f0;
	
	--link-text-colour: #6a6a6a;
	--link-hovered-text-colour: var(--primary-text-colour);
	--secondary-button-background-colour: transparent;
	--secondary-button-background-hovered-colour: #c6c6c6;
	--secondary-button-text-colour: var(--secondary-text-colour);
	--shadow-colour: rgba(0,0,0, 0.1);
	--primary-background-colour: #fff;
	--secondary-background-colour: #dcdcdc;
	--badge-background-colour: #e1e1e1;
	--badge-background-hovered-colour: #c4c4c4;
	--separator-colour: #969696;
}

@mixin dark-theme-colours {
	--primary-background-colour: #e7e7e7;
	--secondary-background-colour: #343434;

	--profile-img-border-colour: #d7d7d7;

	--secondary-button-background-hovered-colour: #595959;
	--secondary-button-text-colour: #c1c1c1;
	--secondary-button-text-hovered-colour: #fff;
	--badge-background-colour: #c7c7c7;
	--badge-background-hovered-colour: #adadad;
}

// #endregion


// #region Styles

body {
	color: var(--primary-text-colour);
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 1cm 1rem 2cm;
	gap: 1cm;
	font-family: Inter;
	font-size: map.get($font_sizes, reg);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	--transition-duration: calc(1s / 3);

	@include light-theme-colours;
}


// #region Secondary row

div#secondary-btn-row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	padding: 0 1cm;
	justify-content: flex-end;
}

.secondary-btn {
	font-size: 1rem;
	background-color: var(--secondary-button-background-colour);
	color: var(--secondary-button-text-colour);
	transition: color $transition_duration, background-color $transition_duration, transform $transition_duration;
	cursor: pointer;
	padding: 0.75rem 1.25rem;
	border-radius: 0.5rem;
	text-decoration: none;

	&:not(.visible) {
		display: none;
	}

	&.visible {
		display: block;
	}

	&:hover, &:active {
		background-color: var(--secondary-button-background-hovered-colour);
		color: var(--secondary-button-text-hovered-colour);
		transform: scale(1.1);
	}

	> svg.secondary-btn__icon {
		$size: 1rem;

		width: $size;
		height: $size;
		vertical-align: middle;
		transition: color $transition_duration, transform $transition_duration;
	}
}

// #endregion


main {
	background-color: var(--primary-background-colour);
	display: flex;
	flex-flow: column nowrap;
}


// #region Header

header {
	display: grid;
	place-items: center;

	> div#header-grid {
		display: inline-grid;
		grid-template-columns: auto auto;
		grid-template-rows: auto auto;
		gap: 0.5rem 1rem;
	}
}

#profile-img {
	$size: 5.5rem;

	width: $size;
	height: $size;
	grid-area: 1 / 1 / 3 / 2;
	align-self: center;
	border-radius: 50%;
}

h1#page-title {
	display: inline-block;
	width: auto;
	font-size: map.get($font_sizes, xxxl);
	font-family: InterDisplay;
	font-weight: 600;
	line-height: 1;
	color: var(--header-primary-text-colour);
	align-self: end;
}

nav {
	display: inline-flex;
	width: auto;
	flex-flow: row nowrap;
	column-gap: 1.25rem;
	align-self: start;

	> a.contact-row__link {
		display: inline-flex;
		flex-flow: row nowrap;
		align-items: center;
		gap: 2px;
		text-decoration: none;
		cursor: pointer;
		color: var(--link-text-colour);
		transition: color $transition_duration;
	
		&:hover {
			color: var(--link-hovered-text-colour);
		}

		> svg {
			height: 1.1em;
			width: 1.1em;
			position: relative;
			top: 2px;
			fill: currentColor;
		}

		> span {
			text-decoration: underline;
			text-decoration-skip-ink: auto;
		}
	}
}

// #endregion


// #region Sections

section {
	margin-top: 1.5rem;
}


header.subheader-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 0.4rem;

	> hr.subheader-row__line {
		border-radius: 1px;
		min-height: 1.5px;
		background-color: var(--separator-colour);
		flex: 1;
	}
	
	> h2.subheader-row__title {
		display: inline;
		font-weight: 600;
		font-family: InterDisplay;
		font-size: map.get($font_sizes, md);
		color: var(--header-secondary-text-colour);
	}
}

// #endregion


// #region Experience Sections

div.exp-item {
	display: grid;
	grid-template-columns: 3rem 1fr auto;
	grid-template-rows: repeat(3, auto);
	row-gap: 0;
	column-gap: 0.75rem;
	margin-top: 1.25rem;
}

img.exp-item__icon {
	grid-area: 1 / 1 / 4 / 2;
	aspect-ratio: 1;
	width: 3rem;
}

.exp-item__title {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;

	grid-area: 1 / 2 / 2 / 3;
	padding-bottom: calc(1rem / 3);

	font-family: InterDisplay;
	font-size: map.get($font_sizes, md);

	> h3 {
		font-size: map.get($font_sizes, md);
		font-weight: 600;
	}

	> span,
	a.exp-item__link {
		font-weight: 500;
		color: var(--link-text-colour);
	}

	a.exp-item__link {
		transition: color $transition_duration;
	
		&:hover {
			color: var(--link-hovered-text-colour);
		}
	}
}

div.exp-item__duration {
	grid-area: 1 / 3 / 2 / 4;
	text-align: right;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: var(--secondary-text-colour);
	padding-bottom: calc(1rem / 3);
}

.exp-item__desc {
	line-height: 1.3;
	grid-area: 2 / 2 / 3 / 4;
	font-size: 0.9rem;
	line-height: 1.3;
}

.exp-item__desc > p:not(:first-of-type) {
	margin-top: 0.5rem;
}

ul.exp-item__skills {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin-top: 0.5rem;
	gap: 0.5rem;
	grid-area: 3 / 2 / 4 / 4;
}

a.exp-item__skill {
	padding: 0.2rem 0.5rem;
	background-color: var(--badge-background-colour);
	border-radius: 1rem;
	font-size: 0.8rem;
	transition: background-color $transition_duration;
	color: var(--primary-text-colour);
	text-decoration: none;
	cursor: pointer;
	display: inline-block;

	&:hover {
		background-color: var(--badge-background-hovered-colour);
	}
}

// #endregion


// #region Screen-only Styles

@media only screen {

	@media(prefers-color-scheme: dark) {
		body:not([data-theme]) {
			@include dark-theme-colours;
		}
	}
	
	body[data-theme="dark"] {
		@include dark-theme-colours;
	}

	body {
		background-color: var(--secondary-background-colour);
		transition-duration: $transition_duration;
	}

	body[data-theme="light"] svg#theme-btn__sun-icon, body[data-theme="dark"] svg#theme-btn__moon-icon {
		display: none;
	}

	body[data-theme="dark"] svg#theme-btn__sun-icon, body[data-theme="light"] svg#theme-btn__moon-icon {
		display: block;
	}

	main {
		box-shadow: 0 0 1rem var(--shadow-colour);
		width: 210mm;
		height: 297mm;
		padding: $page-margin;
	}
}

// #endregion


// #region Print-only Styles

@media only print {

	@page {
		size: A4;
		margin: $page-margin;
	}


	body {
		padding: 0;
		print-color-adjust: exact;
	}

	div#secondary-btn-row {
		display: none;
	}

	#profile-img-container {
		box-shadow: none;
	}

	a.contact-row__link > span,
	a.exp-item__link {
	text-decoration: none !important;
}

}

// #endregion



// #endregion Styles
