@use "./styles/reset"; 
@use "./styles/fonts_sizes" as fontSizes;
@import "./fonts/inter/inter.scss";



$page-margin: 1.5cm;
$transition-duration: calc(1s / 3);


// #region Theme Colours

@mixin light-theme-colours {
	--primary-text-colour: #222;
	--secondary-text-colour: #4e4e4e;
	
	--link-text-colour: #6a6a6a;
	--link-hovered-text-colour: var(var(--primary-text-colour));
	--secondary-button-background-colour: transparent;
	--secondary-button-background-hovered-colour: #c6c6c6;
	--secondary-button-text-colour: var(--secondary-text-colour);
	--shadow-colour: rgba(0,0,0, 0.1);
	--primary-background-colour: #fff;
	--secondary-background-colour: #dcdcdc;
	--badge-background-colour: #e1e1e1;
	--badge-background-hovered-colour: #c4c4c4;
	--separator-colour: #969696;
}


@mixin dark-theme-colours {
	--primary-background-colour: #e7e7e7;
	--secondary-background-colour: #343434;
	--secondary-button-background-hovered-colour: #595959;
	--secondary-button-text-colour: #c1c1c1;
	--secondary-button-text-hovered-colour: #fff;
	--badge-background-colour: #c7c7c7;
	--badge-background-hovered-colour: #adadad;
}

// #endregion


:root {
	--transition-duration: calc(1s / 3);
	@include light-theme-colours;
}


body {
	color: var(--primary-text-colour);
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-start;
	align-items: center;
	padding: 1cm 1rem 2cm;
	gap: 1cm;
	font-family: Inter;
	font-size: fontSizes.$body;
}


// #region Secondary row

div#secondary-btn-row {
	width: 100%;
	display: flex;
	flex-flow: row nowrap;
	gap: 0.5rem;
	padding: 0 1cm;
	justify-content: flex-end;
}


button.secondary-btn, a.secondary-btn {
	font-size: 1rem;
	background-color: var(--secondary-button-background-colour);
	color: var(--secondary-button-text-colour);
	transition-duration: $transition-duration;
	cursor: pointer;
	padding: 0.75rem 1.25rem;
	border-radius: 0.5rem;
	text-decoration: none;

	&:not(.visible) {
		display: none;
	}

	&.visible {
		display: block;
	}

	&:hover, &:active {
		background-color: var(--secondary-button-background-hovered-colour);
		color: var(--secondary-button-text-hovered-colour);
	}

	&:hover {
		& > svg.secondary-btn__icon {
			transform: scale(1.15);
		}
	}

	&#home-btn {
		margin-right: auto;
	}
}

svg.secondary-btn__icon {
	width: 1rem;
	height: 1rem;
	vertical-align: middle;
	fill: none;
	stroke: currentColor;
	stroke-width: 2;
	stroke-linecap: round;
	stroke-linejoin: round;
	transition: color $transition-duration, transform $transition-duration;

	&#home-btn__icon {
		width: 1.2rem;
		height: 1.2rem;
	}
}

// #endregion


main {
	background-color: var(--primary-background-colour);
	display: flex;
	flex-flow: column nowrap;
}


// #region Header

$me-img-size: 6rem;

header {
	display: grid;
	place-items: center;
}

div#header-grid {
	display: inline-grid;
	grid-template-columns: auto auto;
	grid-template-rows: auto auto;
	column-gap: 1rem;
}

#profile-img-container {
	width: $me-img-size;
	height: $me-img-size;
	grid-area: 1 / 1 / 3 / 2;
	align-self: center;
	border-radius: calc($me-img-size / 2);
	padding: 0rem;
	// box-shadow: inset 0 0 0.25rem rgba(0,0,0, 0.1);

	> img#profile-img {
		width: 100%;
		height: 100%;
		border-radius: 50%;
		box-shadow: 0 0 6px rgba(0,0,0, 0.15);
	}
}



h1#page-title {
	display: inline-block;
	width: auto;
	font-size: fontSizes.$h1;
	font-family: InterDisplay;
	font-weight: 600;
	line-height: 1;
}

nav {
	display: inline-flex;
	width: auto;
	flex-flow: row nowrap;
	column-gap: 1.5rem;
}

// #endregion


// #region Contact Row

div#contact-row {
	display: flex;
	flex-flow: row nowrap;
	justify-content: center;
	align-items: center;
	column-gap: 1.5rem;
}


a.contact-row__link {
	text-decoration: none;
	cursor: pointer;
	color: var(--link-text-colour);
	transition: color $transition-duration;

	&:hover {
		color: var(--link-hovered-text-colour);
	}
}


.contact-row__icon {
	height: 1.1em;
	width: 1.1em;
	position: relative;
	top: 4px;
	fill: currentColor;
}


span.contact-row__label {
	text-decoration: underline;
}

// #endregion


// #region Sections

section {
	margin-top: 1.5rem;
}


header.subheader-row {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	column-gap: 0.4rem;
}


hr.subheader-row__line {
	display: inline-block;
	border: none;
	border-radius: 1px;
	min-height: 1.5px;
	background-color: var(--separator-colour);
	flex: 1 0;
}


h2.subheader-row__title {
	display: inline;
	font-weight: 500;
	font-size: 1.25rem;
}

// #endregion


// #region Experience Sections

div.exp-item {
	display: grid;
	grid-template-columns: 3rem 1fr auto;
	grid-template-rows: repeat(3, auto);
	row-gap: 0;
	column-gap: 0.75rem;
	margin-top: 1.25rem;
}


img.exp-item__icon {
	grid-area: 1 / 1 / 4 / 2;
	aspect-ratio: 1;
	width: 3rem;
}


h3.exp-item__title {
	font-weight: 500;
	grid-area: 1 / 2 / 2 / 3;
	padding-bottom: calc(1rem / 3);
}


a.exp-item__link {
	color: var(--link-text-colour);
	transition: color $transition-duration;

	&:hover {
		color: var(--text-colour);
	}
}


div.exp-item__duration {
	grid-area: 1 / 3 / 2 / 4;
	text-align: right;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	color: var(--secondary-text-colour);
}


.exp-item__desc {
	line-height: 1.3;
	grid-area: 2 / 2 / 3 / 4;
	font-size: 0.9rem;
	line-height: 1.3;
}

.exp-item__desc > p:not(:first-of-type) {
	margin-top: 0.5rem;
}


ul.exp-item__skills {
	list-style: none;
	display: flex;
	flex-flow: row wrap;
	margin-top: 0.5rem;
	gap: 0.5rem;
	grid-area: 3 / 2 / 4 / 4;
}


a.exp-item__skill {
	padding: 0.2rem 0.5rem;
	background-color: var(--badge-background-colour);
	border-radius: 1rem;
	font-size: 0.8rem;
	transition: background-color $transition-duration;
	color: var(--primary-text-colour);
	text-decoration: none;
	cursor: pointer;
	display: inline-block;

	&:hover {
		background-color: var(--badge-background-hovered-colour);
	}
}

// #endregion


// #region Screen-only Styles

@media only screen {

	@media(prefers-color-scheme: dark) {
		body:not([data-theme]) {
			@include dark-theme-colours;
		}
	}
	
	body[data-theme="dark"] {
		@include dark-theme-colours;
	}

	body {
		background-color: var(--secondary-background-colour);
		transition-duration: $transition-duration;
	}

	body[data-theme="light"] svg#theme-btn__sun-icon, body[data-theme="dark"] svg#theme-btn__moon-icon {
		display: none;
	}

	body[data-theme="dark"] svg#theme-btn__sun-icon, body[data-theme="light"] svg#theme-btn__moon-icon {
		display: block;
	}

	main {
		box-shadow: 0 0 1rem var(--shadow-colour);
		width: 210mm;
		height: 297mm;
		padding: $page-margin;
	}
}

// #endregion


// #region Print-only Styles

@media only print {

	@page {
		size: A4;
		margin: $page-margin;
	}


	body {
		padding: 0;
		print-color-adjust: exact;
	}


	div#secondary-btn-row {
		display: none;
	}


	span.contact-row__label, a.exp-item__link {
		text-decoration: none;
	}

}

// #endregion
